In [2]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input style = "float:right" type="submit" value="Toggle code">''')

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
from matplotlib import pyplot as plt
from wordcloud import WordCloud
from sklearn.metrics import accuracy_score, log_loss
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC, LinearSVC
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

#Графические настройки
sns.set_style(style='white') 
sns.set(rc={
    'figure.figsize':(12,7), 
    'axes.facecolor': 'white',
    'axes.grid': True, 'grid.color': '.9',
    'axes.linewidth': 1.0,
    'grid.linestyle': u'-'},font_scale=1.5)
custom_colors = ["#3498db", "#95a5a6","#34495e", "#2ecc71", "#e74c3c"]
sns.set_palette(custom_colors)

df = pd.read_csv('marketing_data.csv')

In [8]:
df.head().T

,0,1,2,3,4
ID,1826,1,10476,1386,5371
Year_Birth,1970,1961,1958,1967,1989
Education,Graduation,Graduation,Graduation,Graduation,Graduation
Marital_Status,Divorced,Single,Married,Together,Single
Income,"$84,835.00","$57,091.00","$67,267.00","$32,474.00","$21,474.00"
Kidhome,0,0,0,1,1
Teenhome,0,0,1,1,0
Dt_Customer,6/16/14,6/15/14,5/13/14,5/11/14,4/8/14
Recency,0,0,0,0,0
MntWines,189,464,134,10,6
MntFruits,104,5,11,0,16
MntMeatProducts,379,64,59,1,24
MntFishProducts,111,7,15,0,11
MntSweetProducts,189,0,2,0,0
MntGoldProds,218,37,30,0,34
NumDealsPurchases,1,1,1,1,2
NumWebPurchases,4,7,3,1,3
NumCatalogPurchases,4,3,2,0,1
NumStorePurchases,6,7,5,2,2
NumWebVisitsMonth,1,5,2,7,7
AcceptedCmp3,0,0,0,0,1
AcceptedCmp4,0,0,0,0,0
AcceptedCmp5,0,0,0,0,0
AcceptedCmp1,0,0,0,0,0
AcceptedCmp2,0,1,0,0,0
Response,1,1,0,0,1
Complain,0,0,0,0,0
Country,SP,CA,US,AUS,SP